# Entorno virtual
.venv/

# Archivos de base de datos
*.sqlite3

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo

# Configuración de PyCharm / VSCode
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
